.left {
    float: left;
}
.right {
    float: right;
}

body {
    background: rgba(255, 255, 255, 0.82);
    font-family: sans-serif, arial;
    font-size: 15px;
}




.button {
    margin-top : 12px;
    display: flex;
    gap: 8px;
}
button {
    background-color: #ffffff;
    color: rgb(0, 60, 255);
    padding: 8px 12px;
    border: 1px solid #003cff;
    border-radius: 4px;
    cursor: pointer;
}

header {
    font-family: sans-serif, Arial;
    font-size: 22px;
    border : 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;

}

a {
    display: block;
    padding: 50px ;
    text-align : center ;
}

b {
    display: block;
    padding: 15px ;
    text-align : center ;
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addbtn {
    background-color: rgba(234, 124, 27, 0.82);
    border: gold;
    border-radius: 8px;
    color: white;
}
.resetbtn {
    background-color: rgba(253, 0, 0, 0.82);
    border: black;
    color: white;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.mainconteiner {
    display: flex;
    gap: 0;
    width: 100%;
    box-sizing: border-box;
}

.listsection, .formsection {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
